{% extends 'store/base.html' %}
{% load static %}

{% block content %}
    <div class="section-top">
        <img src="{% static 'store/images/slider0.jpg'%}" class="img-responsive">
    </div>
    <div class="section">
        <div class="container">
            <div class="row">
                {% for p in products %}
                    {% if p.avail %}
                        <div class="col-lg-3">
                            <div class="product-item">
                                <div>
                                     <a href="{{ p.url }}"><img class="product-image-item" src="{{ p.image.url }}"></a>
                                </div>
                                <div class="product-info">
                                    <h4>{{ p.name }}</h4>
                                     <p>{{ p.price }}</p>
                                </div>

                                <div class="add-to-card-btn">
                                    <button class="btn btn-success">В корзину</button>
                                </div>

                             </div>

                        </div>
                    {% endif %}
                {% endfor %}

            </div>
        </div>
    </div>


{% endblock %}